:root {
  /* Color Variables */
  /* ### Primary
  #### Text */
  --primaryDarkBlue: hsl(238, 29%, 16%);
  --activeRed: hsl(14, 88%, 65%);

  /* #### Gradient */
  /* Background gradient: */

  --bgViolet: hsl(273, 75%, 66%);
  --bgBlue: hsl(240, 73%, 65%);

  /* ### Neutral */
  /* #### Text */

  --secondaryVeryDarkGreyBlue: hsl(237, 12%, 33%);
  --secondaryDarkGreyBlue: hsl(240, 6%, 50%);

  /* #### Dividers */

  --divLightGreyBlue: hsl(240, 5%, 91%);
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html {
  box-sizing: border-box;
  font-size: 62.5%; /* 10px/16px = 62.5% -> 1rem = 10px */
}

body {
  display: flex;
  place-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  font-size: 1.2rem;
  font-family: 'Kumbh Sans', sans-serif;
  background: linear-gradient(to top, var(--bgBlue), var(--bgViolet));
}
ul {
  list-style: none;
}
.attribution {
  transform: translateY(8vh);
}
.container {
  display: flex;
  width: 63vw;
  height: 67vh;
  background: #fff;
  border-radius: 2.3rem;
  align-self: center;
  overflow: hidden;
  -webkit-box-shadow: 0px 10px 23px 2px rgba(0, 0, 0, 0.46);
  box-shadow: 0px 18px 33px 1px rgba(0, 0, 0, 0.15);
}
@media only screen and (max-width: 1025px) {
  .container {
    width: 88vw;
    height: 69vh;
    flex-direction: column;
    overflow: initial;
  }
}
/* --------------------- */
/* Menu */
.menu ul,
.menu input,
.menu .closer,
.menu input:checked ~ .opener {
  display: none;
}
.menu input:checked ~ ul,
.menu input:checked ~ .closer {
  display: block;
}
.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  width: 80%;
  margin-top: 2rem;
}
.menu .closer {
  font-weight: 700;
  color: var(--primaryDarkBlue);
  font-size: 1.4rem;
}
.menu .opener {
  color: var(--secondaryVeryDarkGreyBlue);
  font-size: 1.4rem;
}
.menu .opener:hover,
.menu .closer:hover {
  cursor: pointer;
}
.menu-answer {
  margin: 1.5rem 1.7rem 0rem 0;
  color: var(--secondaryDarkGreyBlue);
  line-height: 1.7rem;
}
.menu > li {
  position: relative;
}
.menu label {
  width: 100%;
}
@media only screen and (max-width: 1025px) {
  .menu {
    width: 100%;
    margin-top: 1rem;
  }
  .menu .opener,
  .menu .closer {
    font-size: 1.33rem;
  }
  .menu-answer {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 450px) and (max-width: 1025px) {
  .menu {
    width: 80%;
    align-self: center;
  }
}
@media only screen and (min-width: 800px) and (max-width: 1025px) {
  .menu {
    width: 75%;
  }
  .menu .opener,
  .menu .closer {
    font-size: 2rem;
  }
  .menu-answer {
    font-size: 1.8rem;
    line-height: 2.4rem;
  }
}

/* Arrow Icons */
.menu > li label img {
  position: absolute;
  top: 0;
  left: 94%;
}
.menu > li .closer img {
  transform: rotate(180deg) translateY(1px);
}

/* --------------------- */
/* FAQ */

.faq-container {
  display: flex;
  flex-direction: column;
  margin: 6rem 0 6rem 2rem;
  width: 100%;
}
.faq-container header {
  font-size: 2.2rem;
  color: var(--primaryDarkBlue);
}
hr {
  border: 1px solid var(--divLightGreyBlue);
}
@media only screen and (max-width: 1025px) {
  .faq-container {
    height: 100%;
    width: initial;
    margin: 0rem 2.2rem 3rem 2.2rem;
  }
  .faq-container header {
    align-self: center;
  }
}

/* --------------------- */
/* Image */
.container__overflow {
  position: relative;
  overflow: visible;
}
.img-container {
  width: 100%;
  position: relative;
}
.img-main {
  width: 32vw;
  top: 49%;
  left: 35%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1;
}
.img-superimposed {
  width: 13vw;
  z-index: 2;
  position: absolute;
  top: 59%;
  left: 0.5%;
  transform: translate(-50%, -50%);
}
.img-pattern {
  width: 65vw;
  position: absolute;
  top: 36%;
  left: -17%;
  transform: translate(-50%, -50%);
}
@media only screen and (max-width: 1025px) {
  .img-container {
    height: 38%;
  }
  .container__overflow {
    transform: translateY(4rem);
  }
  .img-superimposed {
    top: 1%;
    left: 25%;
    width: 26vw;
  }
  .img-main {
    width: 65vw;
    top: -12%;
    left: 50%;
  }
  .img-pattern {
    top: -8%;
    left: 50%;
  }
}
@media only screen and (min-width: 430px) and (max-width: 1025px) {
  .img-main {
    width: 50vw;
    top: -15%;
  }
  .img-pattern {
    width: 50vw;
  }
  .img-superimposed {
    width: 20vw;
    left: 30%;
    top: 0%;
  }
}
@media only screen and (min-width: 600px) and (max-width: 1025px) {
  .img-main {
    top: -20%;
  }
  .img-pattern {
    top: -25%;
  }
  .img-superimposed {
    top: -1%;
  }
}
@media only screen and (min-width: 780px) and (max-width: 1025px) {
  .img-main {
    width: 40vw;
    top: -13%;
  }
  .img-pattern {
    width: 40vw;
    top: -25%;
  }
  .img-superimposed {
    top: -1%;
    left: 35%;
    width: 15vw;
  }
}
